/* 
color paletter
#D1F0B1
#B6CB9E
#92B4A7
#8C8A93
#81667A
*/

@charset "UTF-8";
/* Global styles
-------------------------------*/

body {
  background: #8C8A93;
  font-family: 'Gudea', sans-serif;
  font-size: rem;
}

.container {
  border-radius: 100px;
  max-width: 600px;
  margin: 2% auto;
}

form,
.container header,
footer {
  padding: 4px 10px;
}

ul li {
  list-style-type: none;
}

/* Header and Footer
-------------------------------*/

header,
footer {
  background: #B6CB9E;
  color: #81667A;
  text-align: center;
}

header {
  font-family: 'Satisfy', cursive;
  font-size: 2rem;
}

footer a {
  color: #666;
  text-decoration: none;
}

footer a:hover {
  color: darkred;
}

ul.social-icons {
  display: block;
  padding-left: 0.6rem;
}

ul.social-icons li {
  font-size: 1.75rem;
  display: inline;
  padding: 0 2%;
}

/* form
-------------------------------*/

form {
  background: #81667A;
  color: #D1F0B1;
}

#error7 {
  color: darkred;
  text-align: center;
  margin: 0.5rem auto;
}

#submit {
  background-color: #8C8A93;
  color: #D1F0B1;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0;
  display: block;
  max-width: 200px;
  margin: 0 auto 2%;
}

ol {
  list-style: none;
}

ol li {
  padding: 4px 10px;
}

ol p {
  color: darkred;
  margin: 0.5rem 0;
  padding-left: 1rem;
}

ol li input,
select {
  background-color: transparent;
  color: #B6CB9E;
  border: solid 1px #D1F0B1;
  border-radius: 5px;
  margin-left: 10px;
}

ol li input::placeholder {
  color: #B6CB9E;
  font-size: 1.2em;
}

.sixth li,
.seventh li {
  margin-left: -3.5rem;
  margin-bottom: -0.5rem;
}

ul li label {
  cursor: pointer;
  padding-left: 0.5rem;
}

ul li:hover label {
  color: #FFFFFF;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #D1F0B1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #8C8A93;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #81667A;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #8C8A93;
}

input[type='checkbox']:after {
  width: 15px;
  height: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #D1F0B1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #8C8A93;
}

input[type='checkbox']:checked:after {
  width: 15px;
  height: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #81667A;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #8C8A93;
}

/* Media Quries
––––––––––––––––––––––––––––––––––––––––––––––––––*/

/* Larger than mobile */
@media (max-width: 560px) {
  header {
    font-size: 1.2rem;
  }
}